@media (min-width: 320px) and (max-width: 500px) {

  .common-header {
    align-items: center;
    background: #002c33;
    bottom: 2.33%;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 20px 20px;
    right: 0;
    top: -2.33%;
    width: 100%;
  }

  .image-content {
    justify-content: flex-start;
  }

  .image-content img {
    height: 18vw;
    width: 100%;
  }

  .common-header h1 {
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 6.5vw;
    font-style: normal;
    justify-content: center;
    text-align: center;
  }

  .common-header a {
    align-items: center;
    background: #2fc18c;
    border-radius: 8px;
    color: white;
    display: flex;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 700;
    height: 40px;
    justify-content: center;
    line-height: 150%;
    margin-top: 10px;
    text-decoration: none;
    padding: 0 10px;
    width: 100%;
  }

  .common-header a:hover {
    background: #32a791;
    transition: (200ms cubic-bezier(0.08, 0.52, 0.52, 1) 200ms cubic-bezier(0.08, 0.52, 0.52, 1) box-shadow, 200ms cubic-bezier(0.08, 0.52, 0.52, 1) transform);
  }

  .buttons-content {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .buttons-content button {
    align-items: center;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 19px;
    margin-left: 10px;
  }

  .common-header div button img {
    height: 24px;
    margin-left: 5px;
    width: 24px;
  }

  .logoutBTN {
    margin: 30px 0 0;
  }
}

@media (min-width: 501px) {

  .common-header {
    align-items: center;
    background: #002c33;
    bottom: 2.33%;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 20px 20px;
    right: 0;
    top: -2.33%;
    width: 100%;
  }

  .image-content {
    justify-content: flex-start;
  }

  .image-content img {
    height: 100px;
    width: 100%;
  }

  .common-header h1 {
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 30px;
    font-style: normal;
    justify-content: center;
    text-align: center;
  }

  .common-header a {
    align-items: center;
    background: #2fc18c;
    border-radius: 8px;
    color: white;
    display: flex;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    height: 40px;
    justify-content: center;
    line-height: 150%;
    margin-top: 10px;
    text-decoration: none;
    padding: 0 10px;
    width: 100%;
  }

  .common-header a:hover {
    background: #32a791;
    transition: (200ms cubic-bezier(0.08, 0.52, 0.52, 1) 200ms cubic-bezier(0.08, 0.52, 0.52, 1) box-shadow, 200ms cubic-bezier(0.08, 0.52, 0.52, 1) transform);
  }

  .buttons-content {
    align-items: center;
    display: flex;
    justify-content: flex-end;
   flex-direction: column; 
  }

  .buttons-content button {
    align-items: center;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 19px;
    margin-left: 10px;
  }

  .common-header div button img {
    height: 24px;
    margin-left: 5px;
    width: 24px;
  }
}
